*.[oa]
*~

.AppleDouble/
.DS_Store
.catkin_workspace

.cproject
.project
.settings/
rosinclude
opt/

build/
devel/
install/
frames.gv
frames.pdf
square.bag

ar_track_alvar/

gps_common
gps_umd
gpsd_client
src/nmea_navsat_driver
src/robot_upstart

