*.[oa]
*~

.AppleDouble/
.DS_Store
.catkin_workspace

.cproject
.project
.settings/
rosinclude
opt/

build/
devel/
install/
frames.gv
frames.pdf
square.bag

ar_track_alvar/
src/rbx1/
src/geometry/
src/image_pipeline/
src/raspicam_node/
src/resource_retriever/
src/rosberrypi_cam
src/rosserial/
