<launch>
	<arg name="doDebug" default="false" />
	<arg if="$(arg doDebug)" name="launchPrefix" value="xterm -e gdb -args" />
	<arg unless="$(arg doDebug)" name="launchPrefix" value="" />

	<arg name="mid_image_topic_name" default="/kaimi_mid_camera_publisher/image_raw" doc="Camera topic name to publish" />
	<arg name="mid_image_fps" default="10" doc="Frames per second to publish" />
	
	<node pkg="kaimi_mid_camera_publisher" name="kaimi_mid_camera_publisher" type="kaimi_mid_camera_publisher_node" respawn="false" output="screen" launch-prefix="$(arg launchPrefix)" >
		<param name="mid_image_topic_name" value="$(arg mid_image_topic_name)" type="str" />
		<param name="mid_image_fps" value="$(arg mid_image_fps)" type="int" />
	</node>

</launch>
